<!-- start Simple Custom CSS and JS -->
<style type="text/css">
figcaption.widget-image-caption.wp-caption-text {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 40px;
}
.box-pages .elementor-image-box-title a {
    font-weight: 700;
}
.video-sec .elementor-widget-video .elementor-wrapper iframe, .video-sec .elementor-widget-video .elementor-wrapper video{
	 background-color: #4C4D4F !important;
}
/* -----------ABOUT US----------- */
.sustain-text a {
    font-weight: 700;
    color: #fff !important;
}
#mission a {
    color: #fff !important;
}
#header-accordion h2:after {
    content: "\2795";
    font-size: 18px;
    display: inline;
    margin-left: 15px;
    background: #fff;
    transform: translateY(0px) scale(.8);
    position: absolute;
    padding: 7px 6px;
    color: #000!important;
    transition: transform 0.3s ease-in-out;
}
.active-accordion h2:after {
    content: "\2796" !important; 
    font-size: 18px;
    display: inline;
    margin-left: 15px;
    background: #fff;
    transform: translateY(0px) scale(.8);
    position: absolute;
    padding: 7px 6px;
    color: #000 !important;
    transition: transform 0.3s ease-in-out;
}
.content-according h3 {
    height: 80px;
    align-items: center;
    display: flex;
    border-radius: 50%;
    padding: 15px;
    background: #ffffff26;
}
.history-before .e-con-inner:after {
    content: '';
    background: #fff;
    width: 1px;
    height: 20px;
}
 #content-accordion {
   display: none;
  transition: max-height 0.5s ease;
}
.show-accordion {
  display:block !important;
	transition: max-height 1s ease;
} 
button.accordion-header {
    background: transparent;
    border: none;
    text-align: center;
    padding: 0;
}
.accordion-header h2 {
    margin-bottom: 0.3em;
    font-weight: 800;
    font-size: 32px;
    color: #fff;
	margin-top:0px;
}
.accordion-header p {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}
/* -----------STORE LOCATOR----------- */
.srx_locator input#store_locator_address_field::placeholder, .srx_locator a#store_locator_get_my_position, .srx_locator .store_locator h5, .srx_locator h2.store_modal_title, .srx_search_locator #store_locator_filter_open_close, .srx_search_locator hr.grey, .srx_locator .store-locator-col-12.store-locator-col-sm-12.store-locator-col-md-12.wordpress-store-locator-block-search_title, .store-locator-col-12.store-locator-col-sm-12.store-locator-col-md-4.wordpress-store-locator-block-store_filter{
    opacity: 0;
	display:none;
}
.srx_locator input#store_locator_address_field {
    width: 30%!important;
    padding: 10px 15px!important;
    border: #888888 1px solid;
}
a#store_locator_reset_filters {
    border: 1px solid;
    padding: 12px 30px;
    font-size: 14px;
	font-weight:700;
    margin-left: 55px;
}
a#store_locator_get_all_stores {
    color: #231F20;
    border: 1px solid #888;
    padding: 12px 34px;
    font-size: 14px;
    font-weight: 700;
}
input#store_locator_address_field:focus-visible {
    outline: 0px !important;
}
.srx_locator div#store_locator_address:before , .srx_locator .wordpress-store-locator-address-container .store-locator-col-12.store-locator-col-sm-12:before{
    content: 'CITY / POSTAL CODE';
    font-size: 18px!important;
    color: #000;
	padding-bottom:5px;
	display:block;
	font-weight: 700;
}
#store_locator_address .store-locator-col-12.store-locator-col-sm-12 ,#store_locator_filter .store-locator-col-12.store-locator-col-sm-4.single_filter.category_filter, #store_locator_action .store-locator-col-12.store-locator-col-sm-12{
    padding-left: 0px;
}
.srx_locator .store-locator-col-12.store-locator-col-sm-4.single_filter.category_filter:before , .srx_search_locator .single_filter.store-locator-categories:before{
    content: 'CATEGORIES';
    font-size: 18px;
    color: #000;
    font-weight: 700;
}
.srx_locator select#store_locator_filter_categories ,.srx_search_locator select#store_locator_filter_radius{
    border: 1px solid #888888;
    margin-top: 5px;
    background: none;
    border-radius: 0px;
    height: 45px;
}
.srx_locator select#store_locator_filter_categories:hover , .srx_search_locator select#store_locator_filter_radius:hover{
	box-shadow:none;
}
.srx_locator #store_locator_find_stores_button {
    border: none;
    padding: 8px 50px;
	margin-top: 45px;
}
  .srx_locator #store_locator_find_stores_button:hover ,.srx_locator #store_locator_find_stores_button:focus{
    background-color: var(--e-global-color-primary);
	  border:none;
}
.srx_locator .store_locator .store_locator_address_field:focus, .srx_locator .store_locator_name_search_field:focus {
    background-color: #FFFFFF;
    box-shadow: none;
    border: #888888 1px solid;
}
/* search locator */
.srx_search_locator .modal-body ,.srx_search_locator .store_locator_infowindow .store-locator-col-sm-12.store_locator_details {
    padding: 0px !important;
}

.srx_search_locator .store-locator-col-12.wordpress-store-locator-block-filter,.srx_search_locator .wordpress-store-locator-block-store_filter {
    order: 3;
}
.srx_search_locator .store-locator-col-12.wordpress-store-locator-block-search_button {
    order: 4;
}
.srx_search_locator .store-locator-col-12.wordpress-store-locator-block-address_field,.srx_search_locator .wordpress-store-locator-block-radius_filter {
    order: 2;
}
.srx_search_locator .store-locator-col-12.wordpress-store-locator-block-search_title ,.srx_search_locator .wordpress-store-locator-block-store_categories{
    order: 1;
	padding-bottom: 10px;
}
.srx_search_locator div#store_locator_filter_content {
    display: block !important;
}
.srx_search_locator .store-locator-col-12.single_filter.store-locator-radius-filter:before {
    content: 'DISTANCE';
	font-size: 18px;
    color: #000;
	transform:uppercase;
    font-weight: 700;
}
.store-locator-col-12.store-locator-col-sm-12.single_filter.store-locator-radius-filter {
    width: 100% !important;
}
.srx_search_locator #store_locator_find_stores_button {
    margin-top: 25px;
    margin-bottom: 45px;
}
.srx_search_locator .store_locator_result_list_item_hover ,.srx_search_locator #store_locator_result_list{
    background-color: #eeeeee;
/* 	border: none; */
}
.srx_search_locator .store_locator_result_list_item {
    padding-bottom:30px !important;
}
.srx_search_locator p.store_locator_no_stores {
    font-weight: 700;
    margin: 20px 0px;
    text-transform: uppercase;
}
.srx_search_locator a.btn.button.btn-primary.btn-lg.store_locator_contact_store {
    color: #fff;
    background: var(--e-global-color-primary);
    padding: 10px 30px;
    margin-top: 0px !important;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.srx_search_locator .store_locator_name i.fas{
	color:var(--e-global-color-primary);
}
.srx_search_locator h3.store_locator_name {
    color: var(--e-global-color-primary);
    font-weight: 700;
}
.srx_search_locator .store_locator_actions {
    margin-top: 20px !important;
}
.srx_search_locator .gm-style-iw-t .gm-style-iw-d {
    padding-left: 10px !important;
}
.srx_search_locator #store_locator_result_list, .srx_search_locator div#store_locator_map {
    max-height:680px !important;
}
div#store_locator_sidebar_content {
    margin: 0px;
}
/* Toolbox Archive Page  */
.srx_list_post img {
    height: 150px;
    width: 100%;
}
.srx_list_post .elementor-posts .elementor-post {
    padding: 20px 0px;
    align-items: center;
    border-top: 1px solid #ddd;
}
.srx_list_post article img:hover {
    opacity: 0.7;
}
.event-sidebar div#event-listing-view {
    display: block;
}
/* onsite  */
.flag-downlod a {
    border-radius: 3px;
    background: #e7e7e8;
    color: #231f20 !important;
    display: inline-flex;
    font-weight: 400;
    margin: 0 10px 10px 0;
    align-items: center;
}
.flag-downlod img {
    width: 28px!important;
    margin-right: 5px;
    height: 18px;
    margin-bottom: 0px;
}
table.Cookies-Policy a:hover {
    color: var(--e-global-color-primary) !important;
}
.onsite table tbody>tr:nth-child(odd)>td {
    background-color: transparent;
}
.onsite tr:first-child{
	background-color:hsla(0,0%,50.2%,.0705882353);
}
.onsite table tbody tr:hover>td, .onsite table tbody tr:hover>th {
    background-color:transparent;
}
.onsite table td, .onsite table th {
    padding: 10px;
	line-height: 1.3;
}
/*----------MOBILE REPONSIVENESS START---------*/
@media screen and (max-width:1205px){
	.store-locator-row {
    width: 99%;
}
}
@media screen and (max-width: 1024px){
	.srx_search_locator .store_locator_filter {
    width: 95%;
}
	.store-locator-row {
    width: 100%;
}
.home-category figcaption.widget-image-caption.wp-caption-text {
    padding: 4px 10px;
}
.srx_locator input#store_locator_address_field {
    width: 25%!important;
}
	.srx_search_locator .store-locator-col-12.store-locator-col-sm-12.store-locator-col-md-4.wordpress-store-locator-block-radius_filter {
    max-width: 40% !important;
}
	.srx_search_locator #store_locator_result_list {
    margin-left: 0px;
}
}
@media only screen and (max-width: 768px) {
 .srx_locator input#store_locator_address_field {
    width: 33%!important;
}
.srx_locator .store-locator-col-12.store-locator-col-sm-4.single_filter.category_filter {
    flex: 1 0 33.333333%;
    max-width: 42.333333%;
}
		.srx_search_locator .store-locator-col-12.store-locator-col-sm-12.store-locator-col-md-4.wordpress-store-locator-block-radius_filter {
    max-width: 50% !important;
}
}
@media only screen and (max-width: 767px) {
 .home-category figcaption.widget-image-caption.wp-caption-text {
    padding: 5px 40px;
}
 .srx_locator input#store_locator_address_field {
    width: 50%!important;
}
.srx_list_post img {
    height: 120px;
    width: 100%;
}
	.srx_list_post .elementor-posts .elementor-post {
    align-items: start;
}
.srx_search_locator .store-locator-col-12.store-locator-col-sm-12.store-locator-col-md-4.wordpress-store-locator-block-store_categories, .srx_search_locator .store-locator-col-12.store-locator-col-sm-12.store-locator-col-md-4.wordpress-store-locator-block-radius_filter {
    max-width: 50%;
}
	.srx_search_locator .store-locator-col-12.store-locator-col-sm-12.single_filter.store-locator-radius-filter {
    width: 100% !important;
}
	.srx_search_locator #store_locator_result_list {
    margin: 0px;
    margin-bottom: 20px;
}
}
@media only screen and (max-width: 500px) {
.srx_locator .store-locator-col-12.store-locator-col-sm-4.single_filter.category_filter, .srx_search_locator .store-locator-col-12.store-locator-col-sm-12.single_filter.store-locator-categories,.srx_search_locator .store-locator-col-12.store-locator-col-sm-12.store-locator-col-md-4.wordpress-store-locator-block-radius_filter {
    flex: 1 0 33.333333%;
    max-width: 100%;
}
.srx_search_locator input#store_locator_address_field {
    width: 100%!important;
}
	.srx_locator input#store_locator_address_field {
    width: 100%!important;
}
}
/* parts return */
@media (max-width: 880px){
.elementor-element.elementor-element-4358fef.e-con-full.parts-return.e-flex.e-con.e-parent {
    flex-direction: row;
	}
}
@media (max-width: 787px){
.elementor-element.elementor-element-4358fef.e-con-full.parts-return.e-flex.e-con.e-parent {
    flex-direction: column;
	}
	.parts-return .elementor-element.elementor-element-e90d3e8.e-con-full.e-flex.e-con.e-child, .parts-return .elementor-element.elementor-element-e9abb90.e-con-full.e-flex.e-con.e-child{
		width:100%;
	}
}</style>
<!-- end Simple Custom CSS and JS -->
